* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /* justify-content: center; */
    /* min-height: 100vh; */
    border: 15px solid magenta;
    height: 100vh;
    flex-wrap: wrap;
    align-content: stretch;
    /* align-items: flex-end; */
    /* flex-direction: column; */
    /* justify-content: flex-start; default value */
    /* flex-wrap: nowrap; default value */
    /* flex-direction: row; default value */
    /* align-items: stretch; default value */
    /* align-content: stretch; default value */
}

.box {
    /* width: 33.33%; */
    flex: 1;
    color: white;
    font-size: 350px;
    text-align: center;
    padding: 15px;
}

/* flex has an ordering system. All values have a preset of order: 0 */
/* if you're going to use order:... you've got to use it to order everything */

.box1 {
    background-color: tomato;
    /* align-self: flex-end; */
    /* font-size: 50px; */
    order: 0;
}

.box2 {
    background-color: blue;
    /* align-self: baseline; */
    /* padding-bottom: 125px; */
    /* font-size: 125px; */
    order: 0;
}

.box3 {
    background-color: teal;
    /* align-self: center; */
    /* padding-top: 100px; */
    /* font-size: 200px; */
    order: 0;
}

.box4 {
    background-color: purple;
    /* flex: 4; */
    /* order: 4; */
}

.box5 {
    background-color: salmon;
    order: 0;
}

.box6 {
    background-color: turquoise;
    order: 0;
}

.box7 {
    background-color: orange;
    /* flex: 3; */
    /* order: 3; */
}

.box8 {
    background-color: yellow;
    /* order: 3; */
}

.box9 {
    background-color: gray;
    /* order: 3; */
}

.box10 {
    background-color: hotpink;
    order: 0;
}