<ul>
    {{#if loggedIn}}
        <a href="/logout">logout</a>
    {{else}}
        <a href="/login">login</a>
        <a href="/signup">signup</a>
    {{/if}}
</ul>

<form action="/login" method="post">
    <input type="text" name="email" >
    <input type="text" name="password">
    <input type="submit" value="login">
</form>